<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns/website#">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:type" content="website">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
